.dropdown{
    display:flex;
    padding-top: 20px;
    
}
.dropdown__1{
    padding-left: 20px;
    padding-right: 80px;
    
}
select{
    background-color: #183454;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}
option{
    background-color: white;
    color: black;
}
.column2{
    width:77%;
    float:right;
    
}
.v1{
    border-left: 6px solid #183454;
    height: 440px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top:160px;
    
}
